---
services:
  blockchain-init:
    container_name: '{{ lez_blockchain_cont_name }}-init'
    image: '{{ lez_blockchain_cont_image }}'
    restart: 'no'
    volumes:
      - '{{ lez_blockchain_config_path | dirname }}:{{ lez_blockchain_config_path | dirname }}:rw'
    command:
{% if not lez_blockchain_config_file.stat.exists %}
      - 'init-config'
      - '--output={{ lez_blockchain_config_path }}'
{% else %}
      - 'update-config'
      - '--user-config={{ lez_blockchain_config_path }}'
      - '--yes'
{% endif %}
      - '--log-level=debug'
      - '--state-path={{ lez_blockchain_state_path }}'
      - '--keystore={{ lez_blockchain_keystore_path }}'
      - '--net-port={{ lez_blockchain_cont_swarm_port }}'
      - '--http-host=0.0.0.0:{{ lez_blockchain_cont_api_port }}'
{% for peer in lez_blockchain_initial_peers %}
      - '--net-initial-peers={{ peer }}'
{% endfor %}

  blockchain:
    container_name: '{{ lez_blockchain_cont_name }}'
    image: '{{ lez_blockchain_cont_image }}'
    restart: 'always'
    depends_on:
      blockchain-init:
        condition: service_completed_successfully
    ports:
      - '{{ lez_blockchain_cont_api_port }}:{{ lez_blockchain_cont_api_port }}/tcp'
      - '{{ lez_blockchain_cont_swarm_port }}:{{ lez_blockchain_cont_swarm_port }}/tcp'
    volumes:
      - '{{ lez_blockchain_state_path }}:{{ lez_blockchain_state_path }}'
      - '{{ lez_blockchain_config_path | dirname }}:{{ lez_blockchain_config_path | dirname }}:rw'
    command: |
{% if lez_blockchain_deployment_config is defined %}
      --deployment='{{ lez_blockchain_deployment_path }}'
{% endif %}
      '{{ lez_blockchain_config_path }}'

  indexer:
    container_name: '{{ lez_indexer_cont_name }}'
    image: '{{ lez_indexer_cont_image }}'
    restart: 'always'
    depends_on:
      - blockchain
    ports:
      - '{{ lez_indexer_cont_port }}:{{ lez_indexer_cont_port }}/tcp'
    volumes:
      - '{{ lez_indexer_config_path }}:/etc/indexer_service/indexer_config.json:ro'
      - '{{ lez_indexer_cont_vol }}:/var/lib/indexer_service'
    command:
      - 'indexer_service'
      - '/etc/indexer_service/indexer_config.json'
      - '--data-dir=/var/lib/indexer_service'

{% for i in range(lez_sequencer_count) %}
  sequencer-{{ i }}:
    container_name: '{{ lez_sequencer_cont_name }}{% if lez_sequencer_count > 1 %}-{{ i }}{% endif %}'
    image: '{{ lez_sequencer_cont_image }}'
    restart: 'always'
    depends_on:
      - indexer
      - blockchain
    ports:
      - '{{ lez_sequencer_cont_base_port + i }}:{{ lez_sequencer_cont_base_port + i }}/tcp'
{% if lez_sequencer_count > 1 %}
      - '{{ lez_sequencer_metrics_base_port + i }}:{{ lez_sequencer_metrics_base_port + i }}/tcp'
{% endif %}
    volumes:
      - '{{ lez_sequencer_config_path }}:/etc/sequencer_service/sequencer_config.json:ro'
{% if lez_sequencer_count > 1 %}
      - '{{ lez_service_conf }}/sequencer/seq-{{ i }}/signing_key:/etc/sequencer_service/signing_key:ro'
      - '{{ lez_service_conf }}/sequencer/seq-{{ i }}/bedrock_signing_key:/var/lib/sequencer_service/bedrock_signing_key:ro'
      - '{{ lez_service_data }}/sequencer/seq-{{ i }}:/var/lib/sequencer_service'
    entrypoint:
      - /bin/sh
      - -c
      - |
        rm -rf /var/lib/sequencer_service/rocksdb
        exec sequencer_service /etc/sequencer_service/sequencer_config.json --signing-key /etc/sequencer_service/signing_key --port {{ lez_sequencer_cont_base_port + i }}
{% else %}
      - '{{ lez_sequencer_vol }}:/var/lib/sequencer_service'
    command:
      - 'sequencer_service'
      - '/etc/sequencer_service/sequencer_config.json'
      - '--port={{ lez_sequencer_cont_base_port }}'
{% endif %}

{% endfor %}
  explorer:
    container_name: '{{ lez_explorer_cont_name }}'
    image: '{{ lez_explorer_cont_image }}'
    restart: 'always'
    depends_on:
      - indexer
    ports:
      - '{{ lez_explorer_cont_port }}:{{ lez_explorer_cont_port }}/tcp'
    environment:
      INDEXER_RPC_URL: 'http://indexer:{{ lez_indexer_cont_port }}'
      LEPTOS_SITE_ADDR: '0.0.0.0:{{ lez_explorer_cont_port }}'